  
.btn-spacing{
    margin-right: 10px;
  }

  .highlight {
    background-color:  #1B81EB;
    color:white;
    font-weight: bold;
}

table {
    text-align: center;
}
td{
    margin-left: 100px;
    cursor: pointer;
    align-items: center;
}
.rightAlign{
    margin-left: 10px;
}

.current_holding{
    color: green;
}
.marginClass{
    margin-top:50px;
}