
<!--------Start of stone chage model-->
 <!------START OF MAKING CHARGE MODAL------>
<ng-template #template2  id="side-modal" style="padding:10px;">
<div class="side-modal">
  <div class="modal-header ">
  <h3 class="modal-title ">Addon Charges</h3>
  <button type="button" display="inline" class="close pull-right" aria-label="Close" (click)="makingChargeModal.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    
    
  </div>
  <div class="modal-body">
  <h5>Making Charges</h5>
    <table style="width:100%" border="2"> 
    <tr>
    <th width=20px>S.no</th>
    <th>Name</th>
    <th>Weight/pieces</th>
    <th>Cost/[gm|piece]</th>
    <th>Total</th>
    </tr>

  

          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Sub Total:</td>
            <td >{{money(selectedItem.makingCharge)}}</td>
        
          </tr>
    
      </table >
      <br>
      <br>
      <h5>Stone Charges</h5>

     <table style="width:100%" border="2">
    <tr>
    <th width=20px>S.no</th>
    <th>Name</th>
    <th>Weight/pieces</th>
    <th>Cost/[gm|piece]</th>
    <th>Total</th>
      <hr align="right">
    </tr>
    <!---Stone making charge Input Section ends here--> 
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Sub Total:</td>
            <td>{{money(selectedItem.stoneCharge)}}</td>
         
          </tr>
    
      </table>
    </div>
  </div>
</ng-template>
<!------End of stone charge modal-->

<!---START OF CONTACTS--->
<ng-template #contactsTemplate>
  <div class="side-modal">
    <div class="modal-header ">
     <h3 class="modal-title ">Contacts</h3>
    <button type="button" display="inline" class="close pull-right" aria-label="Close" (click)="contactsModal.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
     
      
    </div>
    <div class="modal-body">
      <table style="width:100%;">
          <tr>
            <td>      
              <mat-form-field>
                <input matInput type="text" placeholder="Name" [(ngModel)]="contact.name">
              </mat-form-field>
           </td>
            <td>
              <mat-form-field>
                <input matInput  type="number" placeholder="Phone" [(ngModel)]="contact.phone">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field>
                <input matInput type='email' placeholder="Email" [(ngModel)]="contact.email">
              </mat-form-field>
            </td>
            <td>
              <button mat-raised-button color='primary' (click)="saveContact()">Add Contact</button>
            </td>
          </tr>


      </table>

      <br>
      <hr>
     <ng-container *ngIf="contacts!=null">
      <mat-list>
        
        <mat-list-item *ngFor="let contact of contacts" style="margin-bottom:13px;" class="contactList" (click)="onContactClicked(contact)" >
            <div [className]="color.getColor()" >
              <div class="circleAlphabet">
                {{ contact.name[0]}}
              </div>
            </div>
            <span>
              <b>{{contact.name}}</b>
              <br>
              {{contact.phone}}
              </span>
          
    
        </mat-list-item>
      </mat-list>
     </ng-container>
     
     <ng-container *ngIf="contacts==null">
       No Contacts Available
     </ng-container>

    </div>

  </div>

</ng-template>

<!---END OF CONTACTS--->



 <!------START OF MAKING CHARGE MODAL------>
<ng-template #template  id="side-modal" style="padding:20px;">
<div class="side-modal">
    <div class="modal-header ">
     <h3 class="modal-title ">Items</h3>
    <button type="button" display="inline" class="close pull-right" aria-label="Close" (click)="orderModal.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
     
      
    </div>
  <div class="modal-body">
    <table  class="table-responsive">
        <tr>
        <td>Name:</td><th>{{selected.customer}}</th>
        <td>Email:</td><th>{{selected.email}}</th>
        </tr>
        <tr>
        <td>Phone:</td><th>{{selected.phone}}</th>
        <!-- <td>Date:</td><th>{{selected.getDueDate()}}</th> -->
        </tr>
    </table>


    <hr>
    <table style="width:100%" border="1" class="table-responsive">
       <tr >
             
             <th>S no.</th>
             <th>Due date</th>
             <th>Assigned To</th>
             <th>Description</th>
             <th>Weight</th>
             <th>Wastage %</th>
             <th>MC</th>
             <th>Stone Charge</th>
             <th>Total</th>

             
             </tr>

        <tr style="padding:10px;margin-top:40px;"  *ngFor="let item of selected.items;let i =index" >
             

             <td >
                <b> {{i+1}}</b>
             </td>
             <td *ngIf="item.due==null"> --- </td>
             <td *ngIf="item.due!=null">{{ item.due.slice(0,item.due.indexOf('T')) }}</td>
             <td *ngIf="item.assignedTo!=null" (click)="openSelectOrAddContacts(item,contactsTemplate)" style="cursor:pointer;">{{item.assignedTo.name}}</td>
             <td *ngIf="item.assignedTo==null" (click)="openSelectOrAddContacts(item,contactsTemplate)"><button mat-button-raised>+</button></td>
             <td>{{item.name}}</td>
             <td>{{item.weight}}</td>
             <td>{{item.wastage}}</td>
             <td >{{money(item.makingCharge)}}<mat-icon style="font-size:12px;color:green;cursor:pointer;" (click)="openSelectedMakingChargeModal(item,template2,true)"  >info_outline</mat-icon></td>
            <td >{{money(item.stoneCharge)}}<mat-icon style="font-size:12px;color:green;cursor:pointer;" (click)="openSelectedMakingChargeModal(item,template2,false)"  >info_outline</mat-icon></td>
             <td>{{money(item.total)}}</td>

             
             </tr >   
            
             <tr style="margin-top:30px;">
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td>SubTotal</td>
             <td>{{money(selected.total)}}</td>
             </tr>    
    </table>
    <div align="right" style="margin-top:20px; ">
        <button mat-raised-button color="primary" align="right">Pay</button>

    </div>

  </div>

  </div>
</ng-template>



<div class="container-fluid" style="margin-top: 20px;">
  
    <div class="row">
      <div class="col-md-10">
       
      
  
      </div>

     <div class="col-md-2 text-right">
      <mat-form-field class="mt-2">
        <mat-label>Filter</mat-label>
        <select matNativeControl  [(ngModel)]="status" (ngModelChange)="onSelectedStatus($event)">
        <!-- <select matNativeControl  (ngModelChange)="onSelectedStatus($event)"> -->
          <option value=3>All</option>
          <option value=0>UnAssigned</option>
          <option value=1>Assigned</option>
          <option value=2>completed</option>
          
        </select>
      </mat-form-field>
        </div>
        
    </div>


  
    <button *ngIf='isChecked' mat-raised-button color='primary' (click)="isCompleted()">Completed</button>



      <div class="row">
        <div class="spinner-container" *ngIf="dataSource.loading$ | async">
          <mat-spinner></mat-spinner>
      </div>
      <div class="mat-elevation-z8 table-responsive" > 
            <table  mat-table [dataSource]="dataSource" matSort  matTableExporter #exporter="matTableExporter" style="width:100%">
            

              <ng-container matColumnDef="checked">
                <th mat-header-cell *matHeaderCellDef>Check</th>
                <td mat-cell *matCellDef="let element"> 
                  <input type="checkbox" (change)="selectedRow(element, $event)">
                </td>
              </ng-container> 


              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                <td mat-cell *matCellDef="let element"  >
                  <!--List of statuses to be shown
                     0 pending - info
                     1 assigned - how_to_reg
                     2 completed - check_circle_outline
                  -->
                  <p *ngIf="element.status==0"><mat-icon style="color:red">info</mat-icon>Pending</p>
                  <!-- <p *ngIf="element.status==1"><mat-icon style="color:#1B81EB">history</mat-icon>Processing</p> -->
                  <p *ngIf="element.status==1"><mat-icon style="color:blue">how_to_reg</mat-icon>Assigned</p>
                  <!-- <p *ngIf="element.status==3"><mat-icon>thumb_up</mat-icon>Ready</p> -->
                  <p *ngIf="element.status==2"><mat-icon style="color:green">check_circle_outline</mat-icon>Completed</p>
                </td>
              </ng-container>

        
            <!-- Position Column -->
            <ng-container matColumnDef="order_id">
              <th mat-header-cell *matHeaderCellDef  mat-sort-header> Order ID</th>
              <td mat-cell *matCellDef="let element" (click)="rowClick(template,element)"> {{element.order_id}} </td>
            </ng-container>
        
            <!-- Date Column -->
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Date</th>
              <td mat-cell *matCellDef="let element" > {{element.due }}<mat-icon (click)="toggleDisplay(element.id)" style="cursor: pointer;font-size: 12px;">edit</mat-icon>
             
              <mat-form-field  *ngIf="element.id === id && isdisplay">
                <mat-label>change Due date</mat-label>
                <input matInput [matDatepicker]="picker"
                        (dateChange)="addEvent($event , element)">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </td>
            </ng-container>
          <!-- Name Column -->
            <ng-container matColumnDef="item">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Item</th>
             
              <td mat-cell *matCellDef="let element" (click)="rowClick(template,element)" > {{element.name}}<br>{{element.weight}} gms
            </ng-container>


            <!--Related to image set-->
            <ng-container matColumnDef="image">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Image</th>

              <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.image!=null" style="object-fit: contain;">
                  <!-- {{element.image}} -->
                  <img [src]="getImage(element)" alt="" style="height: 150px;width: 200px;"  (click)="swipe(element)">
                </ng-container>

                <ng-container *ngIf="element.image==null">
                  <td *ngIf="!element.isImageSet()">     
                  <input #file type="file" accept='image/*' (change)="element.imageUploader.preview(file.files);uploadItemImage(element);" />
                 
                  <div class="lds-roller" *ngIf="loadingImage"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                </td>
                </ng-container> 

                </td>
              </ng-container >
    
        
            <!-- Weight Column -->
            <ng-container matColumnDef="cost">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Total cost </th>
              <td mat-cell *matCellDef="let element" (click)="rowClick(template,element)"> {{money(element.total)}} </td>
            </ng-container>

            

          <ng-container matColumnDef="assigned_to">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Assigned To</th>
             
             
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="element.assignedTo==null">
                  <button mat-stroked-button color="primary" (click)="openSelectOrAddContacts(element,contactsTemplate)">+</button>
              </ng-container>
              <ng-container *ngIf="element.assignedTo!=null">
                {{element.assignedTo.name}}
              </ng-container>
              
            </td>
          </ng-container >


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
          </table>
        
          <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
        </div>
        
  </div>
  </div>
  
  <button (click)="goToOrderEstimation()" id="add"  style="background: #1B81EB" mat-fab mat-accent class="fixedbutton"><span>
        <li  class="fa fa-plus" style="margin-right: 5px;cursor: pointer;color: white"></li>
      </span>
      
      </button>
      