.circle {
    height: 50px;
    width: 50px;
    background-color:red;
    border-radius: 50%;
    display: inline-block;
    margin-right:20px;
    color:white;
  }
  
  .circleAlphabet{
    text-align: center;
    margin-top:10px;

    font-size:24px;
    
  }

  .contactList:hover{
    cursor: pointer;
    background-color:gainsboro;
  }


  .yellowCircle {
    height: 50px;
    width: 50px;
    background-color:yellow;
    border-radius: 50%;
    display: inline-block;
    margin-right:20px;
    color:black;
  }
  .violetCircle {
    height: 50px;
    width: 50px;
    background-color:violet;
    border-radius: 50%;
    display: inline-block;
    margin-right:20px;
    color:white;
  }
  .blueCircle {
    height: 50px;
    width: 50px;
    background-color:blue;
    border-radius: 50%;
    display: inline-block;
    margin-right:20px;
    color:white;
  }
  .redCircle {
    height: 50px;
    width: 50px;
    background-color:red;
    border-radius: 50%;
    display: inline-block;
    margin-right:20px;
    color:white;
  }
  .greenCircle {
    height: 50px;
    width: 50px;
    background-color:green;
    border-radius: 50%;
    display: inline-block;
    margin-right:20px;
    color:white;
  }
  h4 {

    text-align: center;
  }

  td , th{
    text-align: center ;
  }


  @media print {
    @page { margin: 0; }
    html, body {
      height:100%; 
      margin: 0 !important; 
      padding: 0 !important;
      overflow: hidden;
    }
  }

  #print-section {
    display: none;
  }
  