
<div class="container-fluid" style="margin-top: 20px;">
  
    <div class="row">
      <div class="col-md-4">
      
        <mat-form-field class="mt-2">
          <mat-label>Status</mat-label>
          <select matNativeControl 
             [(ngModel)]="status" (ngModelChange)="onStatusSelected($event)">
            <option value=4>All</option>
            <option value=0>Pending</option>
            <option value=1>Assigned</option>
            <option value=2>Ready</option>
            <option value=3>completed</option>
          </select>
        </mat-form-field>
      </div>

      <div class="col-md-6">
      </div>
      
     <div class="col-md-2 text-right">
          <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
        </div>
        
    </div>

    <div class="col-md-4" *ngIf="isChecked">

      <mat-form-field class="mt-2">
        <mat-label>Status</mat-label>
        <select matNativeControl required [(ngModel)]="status" (ngModelChange)="onSelectedStatus($event)">
          <option value=0>Ready</option>
          <option value=1>Completed</option>
        </select>
      </mat-form-field>
    </div>
  




   

      <div class="row">
      <div class="mat-elevation-z8 table-responsive" > 
        <div class="spinner-container"   *ngIf="dataSource.loading$ | async">
          <mat-spinner class="text-center"></mat-spinner>
      </div>
            <table class="table"  mat-table [dataSource]="dataSource" matSort matSortActive="order_id" matSortDirection="asc" matSortDisableClear
              matTableExporter #exporter="matTableExporter"  style="width:100%">
        
              <ng-container matColumnDef="checked">
                <th mat-header-cell *matHeaderCellDef>Check</th>
                <td mat-cell *matCellDef="let element"> 
                  <input type="checkbox" (change)="selectedRow(element, $event)">
                </td>
              </ng-container> 

            <!-- Position Column -->
            <ng-container matColumnDef="order_id">
              <th mat-header-cell *matHeaderCellDef  mat-sort-header> Order ID</th>
              <td mat-cell *matCellDef="let element" (click)="rowClick(element)"> {{element.id}} </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Date</th>
              <td mat-cell *matCellDef="let element" (click)="rowClick(element)" > {{element.date }}
            </ng-container>

            <!-- Phone number -->
            <ng-container matColumnDef="phone_no">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>phone_no</th>
              <td mat-cell *matCellDef="let element" (click)="rowClick(element)"> {{element.phone}}  </td>
            </ng-container> 
        
            <!-- Weight Column -->
            <ng-container matColumnDef="totalCost">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Total cost </th>
              <td mat-cell *matCellDef="let element" (click)="rowClick(element)"> {{money(element.total)}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
              <td mat-cell *matCellDef="let element">
                <!--List of statuses to be shown
                   0 pending - info
                   1 assigned - how_to_reg
                   2 completed - check_circle_outline
                -->
                <p *ngIf="element.status==0"><mat-icon style="color:red">info</mat-icon>Pending</p>
                <!-- <p *ngIf="element.status==1"><mat-icon style="color:#1B81EB">history</mat-icon>Processing</p> -->
                <p *ngIf="element.status==1"><mat-icon style="color:blue">how_to_reg</mat-icon>Assigned</p>
                <p *ngIf="element.status==2"><mat-icon>thumb_up</mat-icon>Ready</p>
                <p *ngIf="element.status==3"><mat-icon style="color:green">check_circle_outline</mat-icon>Completed</p>
              </td>
            </ng-container>

            

          <ng-container matColumnDef="assigned_to">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Assigned To</th>
             
             
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="element.assignedTo==null">
                  <button mat-stroked-button text-center color="primary">+</button>
              </ng-container>
              <ng-container *ngIf="element.assignedTo!=null">
                no data i guess
                {{element.assignedTo.name}}
              </ng-container>
              
            </td>
          </ng-container >

         

        <ng-container matColumnDef="balance">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Balance</th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.total>=0">
              {{money(element.balance)}}
            </ng-container>
            <ng-container *ngIf="element.total<=0">
              {{money(0)}}
            </ng-container>
            </td>
        </ng-container>
          
               
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
          </table>
        
          <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
        </div>
        
  </div>
  </div>
  <button (click)="goToOrderEstimation()" id="add"  style="background: #1B81EB" mat-fab mat-accent class="fixedbutton"><span>
        <li  class="fa fa-plus" style="margin-right: 5px;cursor: pointer;color: white"></li>
      </span>
      
      </button>