
<!--------Start of stone chage model-->
 <!------START OF MAKING CHARGE MODAL------>
<ng-template #template2  id="side-modal" style="padding:10px;margin-top:20px">
<div class="side-modal">
  <div class="modal-header ">
  <h3 class="modal-title ">Addon Charges</h3>
  <button type="button" display="inline" class="close pull-right" aria-label="Close" (click)="makingChargeModal.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    
    
  </div>
  <div class="modal-body">
  <h5>Making Charges</h5>
    <table style="width:100%" border="2" class="table-responsive"> 
    <tr>
    <th width=20px>S.no</th>
    <th>Name</th>
    <th>Weight/pieces</th>
    <th>Cost/[gm|piece]</th>
    <th>Total</th>
    </tr>

    <!----- Making charge display section starts here -->
    <tr  style="width:10px;" *ngFor="let i of selectedItem.makingChargeItems;let sno=index;">

    <td>{{sno+1}}</td>
    <td>{{i.name}}</td>
    <td>{{i.weight}}</td>
    <td>{{money(i.cost)}}</td>
    <td>{{money(i.total)}}</td>

    </tr>
    <!-----Making charge display section ends here  -->


   
    <!---Stone making charge Input Section ends here--> 


          <tr>
            <!-- <td colspan="3"></td> -->
          
            <td>Sub Total:</td>
            <td >{{money(selectedItem.makingCharge)}}</td>
        
          </tr>
    
      </table >
      <br>
      <br>
      <h5>Stone Charges</h5>

     <table style="width:100%" border="2" class="table-responsive">
    <tr>
    <th width=20px>S.no</th>
    <th>Name</th>
    <th>Weight/pieces</th>
    <th>Cost/[gm|piece]</th>
    <th>Total</th>
      <hr align="right">
    </tr>

    <!----- Making charge display section starts here -->
    <tr  style="width:10px;" *ngFor="let i of selectedItem.stones;let sno=index;">

    <td>{{sno+1}}</td>
    <td>{{i.name}}</td>
    <td>{{i.weight}}</td>
    <td>{{money(i.cost)}}</td>
    <td>{{money(i.total)}}</td>

    </tr>
    <!-----Making charge display section ends here  -->

   
   
    <!---Stone making charge Input Section ends here--> 


          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Sub Total:</td>
            <td>{{money(selectedItem.stoneCharge)}}</td>
         
          </tr>
    
      </table>
    </div>
  </div>
</ng-template>
<!------End of stone charge modal-->

<!---START OF CONTACTS--->
<ng-template #contactsTemplate>
  <div class="side-modal">
    <div class="modal-header ">
     <h3 class="modal-title ">Contacts</h3>
    <button type="button" display="inline" class="close pull-right" aria-label="Close" (click)="contactsModal.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
     
      
    </div>
    <div class="modal-body">
      <table style="width:100%;" class="table-responsive">
          <tr>
            <td>      
              <mat-form-field>
                <input matInput type="text" placeholder="Name" [(ngModel)]="contact.name">
              </mat-form-field>
           </td>
            <td>
              <mat-form-field>
                <input matInput  type="number" placeholder="Phone" [(ngModel)]="contact.phone">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field>
                <input matInput type='email' placeholder="Email" [(ngModel)]="contact.email">
              </mat-form-field>
            </td>
            <td>
              <button mat-raised-button color='primary' (click)="saveContact()">Add Contact</button>
            </td>
          </tr>


      </table>

      <br>
      <hr>
     <ng-container *ngIf="contacts!=null">
      <mat-list>
        
        <mat-list-item *ngFor="let contact of contacts" style="margin-bottom:13px;" class="contactList" (click)="onContactClicked(contact)" >
            <div [className]="color.getColor()" >
              <div class="circleAlphabet">
                {{ contact.name[0]}}
              </div>
            </div>
            <span>
              <b>{{contact.name}}</b>
              <br>
              {{contact.phone}}
              </span>
          
    
        </mat-list-item>
      </mat-list>
     </ng-container>
     
     <ng-container *ngIf="contacts==null">
       No Contacts Available
     </ng-container>

    </div>

  </div>

</ng-template>

<!---END OF CONTACTS--->



 <!------START OF MAKING CHARGE MODAL------>
<ng-template #template  id="side-modal" style="padding:20px;">
<div class="side-modal">
    <div class="modal-header ">
     <h3 class="modal-title ">Items</h3>
    <button type="button" display="inline" class="close pull-right" aria-label="Close" (click)="orderModal.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
     
      
    </div>
  <div class="modal-body">
    <table style="width:100%" class="table-responsive" *ngIf="selected!=null">
        <tr><td>Name:</td><th>{{selected.customer}}</th>
         <td>Address:</td><th >{{selected.address}}</th> 
        </tr>
        <tr>
        <td>Phone:</td><th>{{selected.phone}}</th> 
        <td>Date:</td><th >{{selected.getDate()}}</th>
        </tr>
    </table>


    <hr>
    <table style="width:100%" border="1" class="table-responsive">
       <tr >
             
             <th>S no.</th>
             <th>Due date</th>
             <th>Assigned To</th>
             <th>Image</th>
             <th>Description</th>
             <th>Weight</th>
             <th>Wastage %</th>
             <th>MC</th>
             <th>Stone Charge</th>
             <th>Total</th>
             <th>Status</th>

             
             </tr>

        <tr style="padding:10px;margin-top:40px;"  *ngFor="let item of selected.items;let i =index" >
             

             <td >
                <b> {{i+1}}</b>
             </td>
             <td *ngIf="item.due==null"> --- </td>
             <td *ngIf="item.due!=null">{{ item.due.slice(0,item.due.indexOf('T')) }}</td>
             <td *ngIf="item.assignedTo!=null" (click)="openSelectOrAddContacts(item,contactsTemplate)" style="cursor:pointer;">{{item.assignedTo.name}}</td>
             <td *ngIf="item.assignedTo==null" (click)="openSelectOrAddContacts(item,contactsTemplate)"><button mat-button-raised>+</button></td>
             <!--Related to image set-->
             <td *ngIf="item.isImageSet()"><img [src]="getselectedIamge(item)" height="50%" width="100%"></td>  
             <td *ngIf="!item.isImageSet()">    
                  <span style="color:red;" *ngIf="item.imageUploader.message">{{item.imageUploader.message}}</span>
                <input #file type="file" accept='image/*' (change)="item.imageUploader.preview(file.files);uploadItemImage(item);" />
                <!-- <input  type="file" accept='image/*' (change)="uploadItemImage($event,selected.id)" />  -->
                <img [src]="selectedimage" height="60%" width="100%" *ngIf="selectedimage">
                 <!-- <img *ngIf="selectedimage" [src]="selectedimage" height="100" class="img-thumbnail">  -->
                {{item.imageUploader.imgURL}}
              </td>
             <!--End of item related image-->
             <td>{{item.name}}</td>
             <td>{{item.weight}}</td>
             <td>{{item.wastage}}</td>
             <td >{{money(item.makingCharge)}}<mat-icon style="font-size:12px;color:green;cursor:pointer;" (click)="openSelectedMakingChargeModal(item,template2,true)"  >info_outline</mat-icon></td>
            <td >{{money(item.stoneCharge)}}<mat-icon style="font-size:12px;color:green;cursor:pointer;" (click)="openSelectedMakingChargeModal(item,template2,false)"  >info_outline</mat-icon></td>
             <td>{{money(item.total)}}</td>
              <td>
                <p *ngIf="item.status==0"><mat-icon style="color:red">info</mat-icon>Pending</p>
                <p *ngIf="item.status==1"><mat-icon style="color:blue">how_to_reg</mat-icon>Assigned</p>
                <p *ngIf="item.status==2"><mat-icon style="color:green">check_circle_outline</mat-icon>Completed</p>
              </td>
             
             </tr >   
            
             <tr style="margin-top:30px;">
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td>SubTotal</td>
             <td>{{money(selected.total)}}</td>
             </tr>    
    </table>
    <div align="right" style="margin-top:20px; ">
        <button mat-raised-button color="primary" align="right">Pay</button>

    </div>

  </div>

  </div>
</ng-template> 




<div class="container-fluid" style="margin-top: 20px;">
  
    <div class="row">
      <div class="col-md-4">
      
        <mat-form-field class="mt-2">
          <mat-label>Status</mat-label>
          <select matNativeControl required [(ngModel)]="status" (ngModelChange)="onStatusSelected($event)">
            <option value=0>Pending</option>
            <option value=1>Assigned</option>
            <option value=2>Ready</option>
            <option value=3>completed</option>
          </select>
        </mat-form-field>
      </div>

      <div class="col-md-6">
      </div>
      
     <div class="col-md-2 text-right">
          <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
        </div>
        
    </div>

    <div class="col-md-4" *ngIf="isChecked">

      <mat-form-field class="mt-2">
        <mat-label>Status</mat-label>
        <select matNativeControl required [(ngModel)]="status" (ngModelChange)="onSelectedStatus($event)">
          <option value=0>Ready</option>
          <option value=1>Completed</option>
        </select>
      </mat-form-field>
    </div>
  




    <div class="row">
      <div class="col-md-12 text-center">
          <mat-spinner *ngIf="boolSpinner"  
          mode="indeterminate"  [diameter]="20"></mat-spinner>
  
      </div>
  </div>

      <div class="row">
      <div class="mat-elevation-z8 table-responsive" > 
        <div class="spinner-container"   *ngIf="dataSource.loading$ | async">
          <mat-spinner class="text-center"></mat-spinner>
      </div>
            <table class="table"  mat-table [dataSource]="dataSource" matSort matSortActive="order_id" matSortDirection="asc" matSortDisableClear
              matTableExporter #exporter="matTableExporter"  style="width:100%">
        
              <ng-container matColumnDef="checked">
                <th mat-header-cell *matHeaderCellDef>Check</th>
                <td mat-cell *matCellDef="let element"> 
                  <input type="checkbox" (change)="selectedRow(element, $event)">
                </td>
              </ng-container> 

            <!-- Position Column -->
            <ng-container matColumnDef="order_id">
              <th mat-header-cell *matHeaderCellDef  mat-sort-header> Order ID</th>
              <td mat-cell *matCellDef="let element" (click)="rowClick(element)"> {{element.id}} </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Date</th>
              <td mat-cell *matCellDef="let element" (click)="rowClick(element)" > {{element.getDate()}}
            </ng-container>

            <!-- Phone number -->
            <ng-container matColumnDef="phone_no">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>phone_no</th>
              <td mat-cell *matCellDef="let element" (click)="rowClick(element)"> {{element.phone}}  </td>
            </ng-container> 
        
            <!-- Weight Column -->
            <ng-container matColumnDef="totalCost">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Total cost </th>
              <td mat-cell *matCellDef="let element" (click)="rowClick(element)"> {{money(element.total)}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
              <td mat-cell *matCellDef="let element">
                <!--List of statuses to be shown
                   0 pending - info
                   1 assigned - how_to_reg
                   2 completed - check_circle_outline
                -->
                <p *ngIf="element.status==0"><mat-icon style="color:red">info</mat-icon>Pending</p>
                <!-- <p *ngIf="element.status==1"><mat-icon style="color:#1B81EB">history</mat-icon>Processing</p> -->
                <p *ngIf="element.status==1"><mat-icon style="color:blue">how_to_reg</mat-icon>Assigned</p>
                <!-- <p *ngIf="element.status==3"><mat-icon>thumb_up</mat-icon>Ready</p> -->
                <p *ngIf="element.status==3"><mat-icon style="color:green">check_circle_outline</mat-icon>Completed</p>
              </td>
            </ng-container>

            

          <ng-container matColumnDef="assigned_to">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Assigned To</th>
             
             
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="element.assignedTo==null">
                  <button mat-stroked-button text-center color="primary">+</button>
              </ng-container>
              <ng-container *ngIf="element.assignedTo!=null">
                no data i guess
                {{element.assignedTo.name}}
              </ng-container>
              
            </td>
          </ng-container >

         

        <ng-container matColumnDef="balance">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Balance</th>
          <td mat-cell *matCellDef="let element">{{money(element.total-element.advance)}}</td>
        </ng-container>
          
               
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
          </table>
        
          <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
        </div>
        
  </div>
  </div>
  <button (click)="goToOrderEstimation()" id="add"  style="background: #1B81EB" mat-fab mat-accent class="fixedbutton"><span>
        <li  class="fa fa-plus" style="margin-right: 5px;cursor: pointer;color: white"></li>
      </span>
      
      </button>