<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <div class="logo">
        <img class="img-responsive" src="assets/images/logo2.png"
          style="width: 150px;height:200px;object-fit: contain">
      </div>
    </mat-toolbar>
    <mat-nav-list style="margin-top: 50px;">
   <div class="sidemenu_option">
     <p (click)="reportPage()">Repair<i class="fa fa-angle-right" style="margin-left: 30px;margin-top: 20px;"></i></p>
   </div>
    
   <div class="sidemenu_option">
    <p (click)="orderPage()">Orders<i class="fa fa-angle-right" style="margin-left: 30px;margin-top: 20px;"></i></p>
  </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background: white;" class="fixed-top">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="ml-auto">

        
       

        <h6>
            <mat-menu  #menu1="matMenu">
                <span mat-menu-item>Gold 999 <span class="buyrate">{{b24}}</span>|<span class="sellrate">{{s24}}</span></span>
                <span mat-menu-item>Gold 916 <span class="buyrate">{{b22}}</span>|<span class="sellrate">{{s22}}</span></span>
                <span mat-menu-item>Silver <span class="buyrate">{{bs}}</span>|<span class="sellrate">{{ss}}</span></span>
    
    
            </mat-menu>
            <span [matMenuTriggerFor]="menu1" >Rate</span>

          <span class="gold99">Gold 999 <span class="buyrate">{{b24}}</span>|<span class="sellrate">{{s24}}</span></span>

          <span class="gold916">Gold 916 <span class="buyrate">{{b22}}</span>|<span class="sellrate">{{s22}}</span></span>

          <span class="silver">Silver <span class="buyrate">{{bs}}</span>|<span class="sellrate">{{ss}}</span></span> 
          <span (click)="navigateToRate()" style="cursor: pointer;"><img src="assets/images/logo2.png" class="img-rounded" style="height: 50px;width: 50px;object-fit: contain;"></span>
          <span [matMenuTriggerFor]="menu">Company name<i class="fa fa-chevron-down" aria-hidden="true"></i></span> </h6>
        <mat-menu #menu="matMenu">
          <button mat-menu-item><i class="fa fa-user" aria-hidden="true"></i> {{name}}</button>
          <button mat-menu-item><i class="fa fa-mobile" aria-hidden="true"></i> {{phone}}</button>
          <button mat-menu-item (click)="logout()"><i class="fa fa-power-off" aria-hidden="true"></i> logout</button>

        </mat-menu>
      </div>
    </mat-toolbar>
    <div style="padding: 20px;margin-top: 50px;">
      <router-outlet></router-outlet>

    </div>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
