<ng-template #popup>
  <div class="side-modal">
    <div class="modal-header ">
     <h3 class="modal-title ">Order confirmation</h3>
    <button type="button" display="inline" class="close pull-right" aria-label="Close" (click)="advancemodal.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>

  <div class="modal-body">
    <p>Confirmation order?</p>
    <div align="end">
      <button class="btn btn-light mr-5" (click)="Cancel()">Cancel</button>
      <button class="btn btn-primary" (click)="ok()">Ok</button>
    </div>
  </div>
  </div>
</ng-template>

<!---START OF Advance modal--->
<ng-template #advanceTemplate>
  <div class="side-modal">
    <div class="modal-header ">
     <h3 class="modal-title ">Advance</h3>
    <button type="button" display="inline" class="close pull-right" aria-label="Close" (click)="advancemodal.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
     
      
    </div>
    <div class="modal-body">
      <table border="2" class="table-responsive" max-width="6px%">
        <tr>
        <th max-width=6ppx>S.no</th>
        <th>Payment Method</th>
        <th>Reference Id</th>
        <th>Amount</th>
        
        </tr>
    <!--displaying the advance options list   -->
        <tr style="padding:6px"  *ngFor="let item of order.advances;let i =index" >
             

          <td >
               <div class="icon-text">
             <mat-icon style="color:red;cursor:pointer;" (click)="order.removeAdvance(i)">remove_circle_outline</mat-icon>
     <span> <b> {{i+1}}</b></span>
   </div>
          
          </td>
          <td>{{item.type}}</td>
          <td>{{item.ref_id}}</td>
          <td>{{item.amount}}</td>

          
          </tr> 
          <tr>


            <td></td>
             <td>
              <mat-form-field class="mt-2">
                
                <select matNativeControl  [(ngModel)]="order.advanceItem.type">
                  <option value=0>Cash</option>
                  <option value=1>Card</option>
                  <!-- <option value="im>Imps</option> -->
                  <option value=2>Cheque</option>
                  <option value=3>Phone Pay</option>
                  <option value=4>Paytm</option>
                  <option value=5>Google pay</option>
                  <option value=6>Other</option>
                </select>
              </mat-form-field>
             </td>
             <td max-width=16pxpx>
                     <mat-form-field style="max-width:60pxx;">
                             <input matInput [(ngModel)]="order.advanceItem.ref_id"  >

                         </mat-form-field>                    
                     </td>
             <td max-width=16pxpx>
                     <mat-form-field  style="max-width:60pxx;">
                             <input matInput [(ngModel)]="order.advanceItem.amount"  >

                         </mat-form-field>  

             </td>
                  
         </tr>
         <div align="center"><button mat-raised-button (click)="addAdvance();order.triggerAdvanceChanged()" color="primary"><mat-icon>add</mat-icon>Add Item</button>    </div>
      </table>
      {{order.advance}}
      <br>
      <hr>
      <div align="right" style="margin-top:20px; ">
        <button  mat-raised-button color="primary" (click)="saveAdvance();order.triggerAdvanceChanged()">save</button>
    
      </div>
    </div>

  </div>

</ng-template>

<!---END OF Advance Modal--->

 <!------START OF MAKING CHARGE MODAL------>
<ng-template #template  id="side-modal" style="padding:20px;">
<div class="side-modal">
  <div class="modal-header ">
      <h3 *ngIf="isMakingChargeModal" class="modal-title ">Making Charge</h3>
      <h3 *ngIf="!isMakingChargeModal" class="modal-title">Stone Charge</h3>

  <button type="button" display="inline" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    
  </div>
  <div class="modal-body">
    <table border="2" class="table-responsive" max-width="6px%">
    <tr>
    <th max-width=20pxx>S.no</th>
    <th>Name</th>
    <th>Weight/pieces</th>
    <th>Cost/[gm|piece]</th>
    <th>Total</th>
    </tr>

    <!----- Making charge display section starts here -->
    <ng-container *ngIf="isMakingChargeModal">
    <tr  style="max-width:6ppx;" *ngFor="let i of makingChargeModalItem.makingChargeItems;let sno=index;">
      <td>
      <div class="icon-text">
        <mat-icon style="color:red;cursor:pointer;" (click)="order.currentItem.removeMakingChargeItem(sno)">remove_circle_outline</mat-icon>
<span> <b> {{sno+1}}</b></span>
</div>
    </td>
    <td>{{i.name}}</td>
    <td>{{i.weight}}</td>
    <td>{{money(i.cost)}}</td>
    <td>{{money(i.total)}}</td>

    </tr>
    </ng-container>
    <!-----Making charge display section ends here  -->

    <!-----Stone making charge display section starts -->
    <ng-container *ngIf="!isMakingChargeModal">
     <tr style="max-width:6ppx;" *ngFor="let i of makingChargeModalItem.stones;let sno=index;">

    <td>{{sno+1}}</td>
    <td>{{i.name}}</td>
    <td>{{i.weight}}</td>
    <td>{{money(i.cost)}}</td>
    <td>{{money(i.total)}}</td>

    </tr>
    </ng-container>
    <!----------Stone making charge display section ends-->


    <!----Making charge input modal starts here  -->
    <ng-container *ngIf="isMakingChargeModal">
     <tr style="margin-top:20px;">
    <td></td>
        <td> <mat-form-field>
                                    <input matInput [(ngModel)]=makingChargeModalItem.currentMakingCharge.name (input)="order.triggerMakingChargeChanged(makingChargeModalItem,!isMakingChargeModal)" >
                                </mat-form-field></td>

   
        <td> <mat-form-field>
                                    <input matInput [(ngModel)]=makingChargeModalItem.currentMakingCharge.weight (input)="order.triggerMakingChargeChanged(makingChargeModalItem,!isMakingChargeModal)">
                                </mat-form-field></td>
  
        <td> <mat-form-field>
                                    <input matInput [(ngModel)]=makingChargeModalItem.currentMakingCharge.cost (input)="order.triggerMakingChargeChanged(makingChargeModalItem,!isMakingChargeModal)" >
                                </mat-form-field></td>

     <td>

       {{money(makingChargeModalItem.currentMakingCharge.total)}}
       </td>

    </tr>
    </ng-container>
    <!-------Making charge modal ends here -->

    <!---------Stone making charge input section starts -->
    <ng-container *ngIf="!isMakingChargeModal">
     <tr style="margin-top:20px;">
    <td></td>
        <td> <mat-form-field>
                                    <input matInput [(ngModel)]=makingChargeModalItem.currentStone.name  >
                                </mat-form-field></td>

   
        <td> <mat-form-field>
                                    <input matInput [(ngModel)]=makingChargeModalItem.currentStone.weight (input)="order.triggerMakingChargeChanged(makingChargeModalItem,!isMakingChargeModal)" >
                                </mat-form-field></td>
  
        <td> <mat-form-field>
                                    <input matInput [(ngModel)]=makingChargeModalItem.currentStone.cost (input)="order.triggerMakingChargeChanged(makingChargeModalItem,!isMakingChargeModal)" >
                                </mat-form-field></td>

     <td >

       {{money(makingChargeModalItem.currentStone.total)}}
       </td>

    </tr>
    </ng-container>

    <!---Stone making charge Input Section ends here--> 

    <tr>
    <button  mat-raised-button color="primary" (click)="makingChargeModalItem.addMakingCharge(!isMakingChargeModal)"><mat-icon>add</mat-icon>Add</button>
    </tr>
          <br>

  <hr/>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td colspan="2">Sub Total:</td>
      <td *ngIf="isMakingChargeModal">{{money(makingChargeModalItem.makingCharge)}}</td>
      <td *ngIf="!isMakingChargeModal">{{money(makingChargeModalItem.stoneCharge)}}</td>
    </tr>
    
    </table>
    <div align="right" style="margin-top:20px; ">
    <button  mat-raised-button color="primary" (click)="saveMakingCharge()">save</button>

    </div>
  </div>
  </div>
</ng-template>

<!-------------END OF MAKING CHARGE MODAL------------>

<!-----------START OF INITIAL VIEW ---->
<div class="container-fluid" style="padding: 6px;">
 
    <mat-card>
        <h6 class="text-center">Order Estimation</h6>
        <div class="row">
            <div class="col-md-6">

              <mat-form-field hintLabel="max 10 characte">
                <input type="tel" matInput #input maxlengtd="10" [(ngModel)]="order.customerItem.phone" (input)="people(order.customerItem.phone)" placeholder="Phone" pattern="[6-9]\\d{9}" maxlength="10">
                <mat-hint align="end">{{input.value?.lengtd || 0}}/10</mat-hint>
              </mat-form-field>
              <br>
              <ng-container *ngIf="selectedUser!=null">
                <mat-list>
                  
                  <mat-list-item *ngFor="let user of selectedUser" style="margin-bottom:13px;" class="contactList" (click)="onuserClicked(user)" >
                    <!-- <div [className]="color.getColor()" > -->
                      <div>  
                      <div class="circleAlphabet">
                          {{ user.name[0]}}
                        </div>
                      </div>
                      <span>
                        <b>{{user.name}}</b>
                        <br>
                        {{user.phone}}
                        </span>
                    
              
                  </mat-list-item>
                </mat-list>
               </ng-container>
               <br>
                <mat-form-field>
                    <input matInput [(ngModel)]="order.customerItem.name" placeholder="Customer Name">
                  </mat-form-field>
                  <br>
                  <mat-form-field>
                    <input matInput placeholder="Enter your email" [formControl]="email" [(ngModel)]="order.customerItem.email">
                    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                  </mat-form-field>
                  <br>
                  
                  <mat-form-field class="mt-2">
                    <textarea matInput placeholder="Address" [(ngModel)]="order.customerItem.address"></textarea>
                  </mat-form-field>
             


            </div>

            <div class="col-md-6">
              <mat-form-field class="mt-2">
                <input matInput type="date" placeholder="Date" [(ngModel)]="order.date" >
              </mat-form-field>
              <mat-form-field class="mt-2">
                <mat-label>Order Type</mat-label>
                <select matNativeControl required [(ngModel)]="selectedOrderType" (ngModelChange)="onSelectedOrderType($event)">
                  <option value="gold">Gold</option>
                  <option value="silver">Silver</option>
                </select>
              </mat-form-field>
              
              <br>  
                  
                  <mat-form-field>
                    <input matInput placeholder="Rate" [(ngModel)]="order.rate" (input)="order.rateChanged()" [disabled]="isdisabled">
                  </mat-form-field>
                  
                  <br>
                  <input type="checkbox" (change)="checkSelected()">NRC(No Rate Cut)
                  <!-- <mat-checkbox>NRC</mat-checkbox> -->
            </div>

        </div>
       
</mat-card>
<br><br>
<mat-card>
 <div class="row table-responsive">
   <h6 align=center>Items</h6>
            <table class="table">
             <tr >
             
             <th>S no.</th>
             <th>Description</th>
             <th>Weight</th>
             <th>Wastage %</th>
             <th>MC</th>
             <th>Stone Charge</th>
             <th>Total</th>

             
             </tr>
               <tr style="padding:6px"  *ngFor="let item of order.items;let i =index" >
             

             <td >
                  <div class="icon-text">
                <mat-icon style="color:red;cursor:pointer;" (click)="order.removeItem(i)">remove_circle_outline</mat-icon>
        <span> <b> {{i+1}}</b></span>
      </div>
             
             </td>
             <td>{{item.name}}</td>
             <td>{{item.weight}}</td>
             <td>{{item.wastage}}</td>
             <td >{{money(item.makingCharge)}}<mat-icon style="font-size:12px;color:green;cursor:pointer;" (click)="openSelectedMakingChargeModal(i,template)"  >info_outline</mat-icon></td>
            <td >{{money(item.stoneCharge)}}<mat-icon style="font-size:12px;color:green;cursor:pointer;" (click)="openSelectedMakingChargeModal(i,template)"  >info_outline</mat-icon></td>
             <td>{{money(item.total)}}</td>

             
             </tr> 
                <tr>


                   <td></td>
                    <td>
                            <mat-form-field>
                                    <input matInput [(ngModel)]="order.currentItem.name" (change)="order.triggerItemDataChanged()" >
                                </mat-form-field>
                    </td>
                    <td max-width=16pxpx>
                            <mat-form-field style="max-width:60pxx;">
                                    <input matInput [(ngModel)]="order.currentItem.weight" (input)="order.triggerItemDataChanged()" >
                                    <span matSuffix>gms</span>

                                </mat-form-field>                    
                            </td>
                    <td max-width=16pxpx>
                            <mat-form-field  style="max-width:60pxx;">
                                    <input matInput [(ngModel)]="order.currentItem.wastage" (input)="order.triggerItemDataChanged()" >

                                </mat-form-field>  

                    </td>
                                <td>₹{{order.currentItem.makingCharge}}<button style="max-width:6ppx;height:6px;" (click)="openMakingChargeModal(template)" mat-button color="primary"><mat-icon>add</mat-icon></button></td>

                      
                    
                    
                     <td>₹{{order.currentItem.stoneCharge}}<button style="max-width:6ppx;height:6px;" (click)="openMakingChargeModal(template,false)" mat-button color="primary"><mat-icon>add</mat-icon></button></td>

                      
                    
                    <td>
                        {{money(order.currentItem.total)}}
                           
                    </td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>Sub Total : </td>
                  <td>{{money(order.itemSubTotal)}}</td>
                </tr>
                <tr >
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>Gst : </td>
                  <td>{{order.gst}}</td>
                </tr>
                <tr >
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>TotalWithGst : </td>
                  <td>{{money(order.totalWithGst)}}</td>
                </tr>
            </table>

          
        </div>
    <div align=center><button mat-raised-button (click)="order.addItem()" color="primary">Add Item</button>    </div>
</mat-card>

<br>
<div class="row">

  <div class="col-md-8 oldgold" >
    <!---START OF OLD GOLD ENTRY SECTION -->
    <mat-card  >
      <div class="row table-responsive" style="contain: inherit;">
        <h6 align=center>Old Gold</h6>
        <table class="table w-100" >
          <!--TABLE HEAD SECTION-->
          <tr >
            <th>S.No</th>
            <th>Description</th>
            <th>Weight</th>
            <th>Dust/Stone</th>
            <th>Purity %</th>
            <th>Rate</th>
            <th>Total</th>
          </tr>
     
          <!--TABLE DISPLAY SECTION-->
          <tr *ngFor="let item of order.oldGold;let i=index; ">
            <td>
              <div class="icon-text">
              <mat-icon style="color:red;cursor:pointer;" (click)="order.removeOldGold(i)">remove_circle_outline</mat-icon>
            <span> <b> {{i+1}}</b></span>
            </div>     
         </td>     
            <td >{{item.description}}</td>
            <td>{{item.weight}}</td>
            <td>{{item.dust}}</td>
            <td>{{item.purity}}%</td>
            <td>{{item.rate}}</td>
            <td>{{money(item.total)}}</td>
          </tr>
          
          <!-- TABLE BODY INPUT SECTION-->
          <tr>
            <td></td>
            <td>
              <!--description section-->
              <mat-form-field>
                <input matInput [(ngModel)]="order.oldGoldItem.description" >
            </mat-form-field>
            </td>
    
            
            <td>
              <!-- weight input-->
              <mat-form-field>
                <input matInput [(ngModel)]="order.oldGoldItem.weight" (input)="order.triggerOldGoldChanged()" >
            </mat-form-field>
            </td>
            <td style="max-width:15px ">
              <!--dust stone input-->
              <mat-form-field>
                <input matInput [(ngModel)]="order.oldGoldItem.dust" (input)="order.triggerOldGoldChanged()" >
            </mat-form-field>
            </td>
            <td>
              <!-- purity input-->
              <mat-form-field>
                <input matInput [(ngModel)]="order.oldGoldItem.purity" (input)="order.triggerOldGoldChanged()" >
            </mat-form-field>
            </td>

            <td>
              <!-- Rate input-->
              <mat-form-field>
                <input matInput [(ngModel)]="order.oldGoldItem.rate" (input)="order.triggerOldGoldChanged()" >
            </mat-form-field>
            </td>
           
            <td>
              <!--Total display for old gold item-->
              {{money(order.oldGoldItem.total)}}
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Sub Total</td>
            <td>{{money(order.oldGoldTotal)}}</td>
          </tr>
          
    
        </table>
      </div>
      <div align=center><button mat-raised-button (click)="order.addOldGold()" color="primary">Add Item</button>    </div>
    
    </mat-card>
    <!---END OF OLD GOLD ENTRY SECTION-->
    
  </div>

  <div class="col-md-4" style="margin-top: 60px;">
    <!-- <p style="margin-top: 60%;">Old Gold : {{money(order.oldGoldTotal)}} </p> -->
  <mat-card style="margin-left: 20px;margin-top: 120px;"> 
    <table>
      <td>Old Gold</td>
      <td>:</td>
      <td>{{money(order.oldGoldTotal)}}</td>
    </table>
  </mat-card>
  </div>

</div>



<br><br>

<!-- Advance popup button -->
<div class="row">
  <div class="col-md-6" align="center"> <button mat-raised-button (click)="openAdvanceModal(advanceTemplate)" color="primary">Advance</button>  </div>
  <div class="col-md-6" align="center">Advance : {{order.advance}}</div>
 </div>
<br><br>
<button mat-raised-button color="primary" style="float:right;" (click)="openPopupmodal(popup)" >SubTotal: {{money(order.balance)}}<br>Save</button>


</div>
<!------END OF INITITAL VIEW ---->





