mat-form-field {
    width: 80%;
    }
    .oldgold td {
      column-width: 10ex;
    }
    .mat-icon {
        vertical-align: middle;
     }

     .icon-text {
        display: flex;
        align-items: center;
    }

    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
      }
      
      /* Tooltip text */
      .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
       
        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
      }
      
      /* Show the tooltip text when you mouse over the tooltip container */
      .tooltip:hover .tooltiptext {
        visibility: visible;
      }

      .circle {
        height: 50px;
        width: 50px;
        background-color:red;
        border-radius: 50%;
        display: inline-block;
        margin-right:20px;
        color:white;
      }
      
      .circleAlphabet{
        text-align: center;
        margin-top:10px;
    
        font-size:24px;
        
      }
    
      .contactList:hover{
        cursor: pointer;
        background-color:gainsboro;
      }
    
    
      .yellowCircle {
        height: 50px;
        width: 50px;
        background-color:yellow;
        border-radius: 50%;
        display: inline-block;
        margin-right:20px;
        color:black;
      }
      .violetCircle {
        height: 50px;
        width: 50px;
        background-color:violet;
        border-radius: 50%;
        display: inline-block;
        margin-right:20px;
        color:white;
      }
      .blueCircle {
        height: 50px;
        width: 50px;
        background-color:blue;
        border-radius: 50%;
        display: inline-block;
        margin-right:20px;
        color:white;
      }
      .redCircle {
        height: 50px;
        width: 50px;
        background-color:red;
        border-radius: 50%;
        display: inline-block;
        margin-right:20px;
        color:white;
      }
      .greenCircle {
        height: 50px;
        width: 50px;
        background-color:green;
        border-radius: 50%;
        display: inline-block;
        margin-right:20px;
        color:white;
      }